@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);


.main-text {
  background-image: url(../prototype/img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 87vh;
}

body {
  font-size: 14px;
  line-height: 21px;
  font-family: 'Roboto', sans-serif;
}

h1.title {
  font-size: 54px;
}
h2 {
  font-size: 35px;
}
p.page-text {
  font-size: 20px;
  line-height: 25px;
  margin: 25px 0;
}

.page-img img {
    width: 65%;
}

.page-img {
    text-align: center;
}

